<div class="pedidos">
    <h1>Pedidos Pendientes</h1>
</div>
<div class="realizado">
    <select name="" id="">
        <option value="">todos los pedidos</option>
        <option value="">Pedidos Realizados</option>
        <option value="">Pedidos Pendientes</option>
    </select>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id-Pedido</th>
                <th scope="col">Id-Cliente</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Fecha de entrega</th>
                <th scope="col">Precio Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1</td>
                <td>20Kg</td>
                <td>03-09-2020</td>
                <td>20,00</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>2</td>
                <td>Naranjas</td>
                <td>03-09-2020</td>
                <td>22,00</td>
            </tr>
        </tbody>
    </table>