.container{
    width: 100%;
}

.container h2 {
    font-family: 'Martel', 'cursive';
}

table {
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    height: 40vh;
    background-color:rgb(136, 177, 136);
border: white;
}

th {
    text-align: center;
    width: 20%;
    background-color: silver;
    padding: 10px;
    border: white;
}
    td {
    align-content: center;
    text-align: center;
    border: white;

}

button {
    padding: 2px;
    margin-left: 5px;
}
