<div class="contenedor">

    <div class="container">
        <div class="carteles">
            <h2>{{producto.nombre}}</h2>
        </div>
        <main>
            <section>
                <div class="star">
                    <img *ngIf="favorite" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <div class="fotos">
                    <img [src]="producto.imagen" alt="">
                </div>

                <h2>{{producto.nombre}}</h2>
                <p id="precio">{{producto.precio}}</p>
                <p id="precio">Temporada: {{producto.est}}</p>
                <div id="comprar">
                    <button>Comprar</button>
                    <button (click)="onFavorite()">Añadir a favoritos</button>
                </div>
            </section>

            <div id="linea"></div>

            <section>
                <h3>{{producto.nombre}}</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla, dolorum fuga ullam cupiditate
                    corporis repellat! Necessitatibus dolorem reprehenderit veritatis cum eos quaerat at natus culpa,
                    impedit mollitia, alias tempora quo.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quasi exercitationem neque natus
                    eum aliquid aut, consequatur tempore dolores sint explicabo, dicta esse labore ad! Repudiandae
                    deserunt tenetur magnam error.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui inventore nostrum et, aperiam placeat,
                    fuga quam aut nobis autem vero incidunt adipisci quisquam quia, exercitationem ipsa beatae
                    laudantium odio sit.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis rem iste aliquid voluptatem
                    doloribus perspiciatis porro, incidunt mollitia! Rem omnis, maxime dolorum temporibus qui nam
                    doloremque mollitia incidunt delectus neque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iure, recusandae, minima
                    cupiditate officiis ipsam alias tempora repellat optio, sint eum deserunt ab id quia perferendis ea
                    expedita inventore tempore.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat mollitia dolor aut iusto molestias
                    ipsum accusamus eaque amet quod aspernatur, nostrum fuga ipsam distinctio pariatur veritatis quae
                    fugiat tempore. Excepturi!
                </p>
            </section>
        </main>
    </div>
</div>