<div class="contenedor">

    <div class="container">
        <div class="carteles">
            <h2>{{producto?.nombre}}</h2>
        </div>
        <main>
            <section>
                <div class="star">
                    <img *ngIf="favorite" src="../../../assets/startrans.png" alt="">
                </div>
                <div class="fotos">
                    <img [src]="producto?.imagen" alt="">
                </div>

                <h2>{{producto?.nombre}}</h2>
                <p id="precio">{{producto?.precio}}</p>
                <p id="est">Temporada: {{producto?.est}}</p>
                <div id="comprar">
                    <a href="http://localhost:4200/carrito"><button (click)="onComprar()">Comprar</button></a>
                    <button (click)="onFavorite()">Añadir a
                        favoritos</button>
                </div>
            </section>

            <div id="linea"></div>

            <section>
                <h3>{{producto?.nombre}}</h3>
                <p>{{producto?.descripcion}}</p>
            </section>
        </main>
    </div>
</div>