<div class="container">

    <main>
        <table>
            <tr>
                <th>Valoración</th>
                <th>ID pedido</th>
                <th>Fecha del pedido</th>
                <th>Descripción del pedido</th>
                <th>Precio total</th>
                <th>Direccion entrega</th>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <div id="botones">
                    <button>Pedir de nuevo</button>
                </div>


            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <div id="botones">
                    <button>Pedir de nuevo</button>

                </div>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <div id="botones">
                    <button>Pedir de nuevo</button>

                </div>

            </tr>
            <tr>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <div id="botones">
                    <button>Pedir de nuevo</button>

                </div>

            </tr>
            <tr>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <div id="botones">
                    <button>Pedir de nuevo</button>

                </div>

            </tr>
            <tr>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <div id="botones">
                    <button>Pedir de nuevo</button>

                </div>

            </tr>
            <tr>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <div id="botones">
                    <button>Pedir de nuevo</button>

                </div>


            </tr>


        </table>
    </main>
</div>