<div class="contenedor">

    <main>
        <table>
            <thead>

                <!--     <th>Valoración</th> -->
                <th>ID pedido</th>
                <th>Fecha de entrega</th>
                <th>Descripción del pedido</th>
                <th>Dirección de entrega</th>
                <th>Cantidad</th>
                <th>Precio total</th>
                <th>Estado</th>
            </thead>

            <tbody>
                <tr *ngFor="let pedido of listaPedidos">
                    <td>{{pedido?.id_pedido}}</td>
                    <td>{{pedido?.fecha_entrega}}</td>
                    <td>{{pedido?.descripcion}}</td>
                    <td>{{pedido?.direccion}}</td>
                    <td>{{pedido?.cantidad}}</td>
                    <td>{{pedido?.precio_total}}</td>
                    <th>{{pedido?.estado}}</th>
                    <button class="btn btn-outline-success">Pedir de nuevo</button>
                </tr>
            </tbody>



        </table>

    </main>
</div>