<div class="contenedor">

    <div class="container">
        <div class="carteles">
            <h2>Mi Perfil</h2>
        </div>

        <div id="pestanas">

            <a [routerLink]="['datospersonales', clienteLogin]">
                <p>Mis datos personales</p>
            </a>

            <a [routerLink]=" ['historico', clienteLogin]">
                <p>Mi histórico de pedidos</p>
            </a>

            <a [routerLink]="['favoritos', clienteLogin]">
                <p>Mis productos favoritos</p>
            </a>
        </div>
        <p>Cliente :{{clienteLogin}}</p>
    </div>
</div>


<router-outlet></router-outlet>