<div class="container">
    <div class="texto">
        <h2>Productos disponibles en Stock</h2>
        <button *ngIf="btnAdd" class="btn btn-outline-success" (click)="onNewProducto()">Añadir nuevo producto</button>
    </div>

    <table class="table" *ngIf="newProd">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad disponible</th>
                <th scope="col">Precio/kg</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td scope="row">{{producto.id_prod}}</td>
                <td>{{producto.nombre}}s</td>
                <td>{{producto.disponibilidad}}</td>
                <td>{{producto.precio}}</td>
                <td><button class="btn btn-success" (click)="onEditarProducto(producto)">Editar</button></td>

            </tr>
            <!--  <tr>
                <th scope="row">2</th>
                <td>Naranjas</td>
                <td>25Kg</td>
                <td>1.50</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Litchi</td>
                <td>30Kg</td>
                <td>2.20</td>
            </tr> -->
        </tbody>
    </table>

    <!-- FORMULARIO PARA AÑADIR NUEVO PRODUCTO-->
    <form [formGroup]="addProducto" (ngSubmit)="onProducto()" *ngIf="anadirProd">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" formControlName="nombre" class="form-control">
        </div>
        <div class="form-group">
            <label>Precio</label>
            <input type="number" formControlName="precio" class="form-control" min=0.00 step=0.05>
        </div>
        <div class="form-group">
            <label>Disponibilidad</label>
            <input type="number" formControlName="disponibilidad" class="form-control" min=0>
        </div>
        <div class="form-group">
            <label>Estacionalidad</label>
            <!-- <input type="text" formControlName="est" class="form-control"> -->
            <select class="form-control" formControlName="est">
                <option value="todo">Todo el año</option>
                <option value="primavera-verano">primavera - verano</option>
                <option value="otoño-invierno">otoño - invierno</option>
                <option value="tropical">tropical</option>
            </select>
        </div>
        <div class="form-group">
            <label>Imagen</label>
            <input type="text" formControlName="imagen" class="form-control">
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <input type="text" formControlName="descripcion" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <button class="btn btn-primary" (click)="onVolver()">Volver</button>
    </form>


    <!--FORMULARIO PARA EDITAR PRODUCTOS-->
    <form *ngIf="editar" [formGroup]="editarProducto" (ngSubmit)="editProducto()">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" formControlName="nombre" class="form-control">
        </div>

        <div class="form-group">
            <label>Precio</label>
            <input type="number" formControlName="precio" class="form-control" min=0.00 step=0.05>
        </div>
        <div class="form-group">
            <label>Disponibilidad</label>
            <input type="number" formControlName="disponibilidad" class="form-control" min=0 step=0.05>
        </div>


        <input type="hidden" formControlName="id_prod" class="form-control">

        <input type="submit" class="btn btn-primary" value="Guardar">
        <button class="btn btn-primary" (click)="onVolverEdit()">Volver</button>
    </form>
</div>