<div class="container">
    <h1>Productos disponibles en Stock</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad disponible</th>
                <th scope="col">Precio/kg</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <th scope="row">{{producto.id_prod}}</th>
                <td>{{producto.nombre}}s</td>
                <td>{{producto.disponibilidad}}</td>
                <td>{{producto.precio}}</td>
            </tr>
            <!--  <tr>
                <th scope="row">2</th>
                <td>Naranjas</td>
                <td>25Kg</td>
                <td>1.50</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Litchi</td>
                <td>30Kg</td>
                <td>2.20</td>
            </tr> -->
        </tbody>
    </table>
</div>