* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#contenedor {
    background-color: #66bb6a;
}
img {
    display: block;
    width: 70vw;
    height: auto;
    margin: 0 auto;
}

#contenedor div:first-child {
    display: block;
    position: fixed;
    top:35%;
    left: 22%;
}

#contenedor div:first-child a {
    text-decoration: none;
    color: white;
    font-family: 'Rammetto One', cursive;
    font-size: 85px;
}

#contenedor div:first-child h4 {
    color: white;
    font-family: 'Rammetto One', cursive;
    font-size: 50px;
}

#contenedor div:first-child p {
    color: white;
    font-family: 'Rammetto One', cursive;
    font-size: 25px;
}

