<div id="container">

    <div id="pestanas">

        <a href="">
            <p>Pedidos pendientes</p>
        </a>

        <a href="">
            <p>Pedidos realizados</p>
        </a>

        <a href="">
            <p>Listado de Clientes</p>
        </a>
    </div>

    <table>
        <tr>
            <th>ID pedido</th>
            <th>ID cliente</th>
            <th>Fecha de entrega</th>
            <th>Descripción pedido</th>
            <th>Precio total</th>
            <th>Direccion entrega</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <div id="botones">
                <button>Realizado</button>
                <button>Eliminar</button>
            </div>


        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <div id="botones">
                <button>Realizado</button>
                <button>Eliminar</button>
            </div>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <div id="botones">
                <button>Realizado</button>
                <button>Eliminar</button>
            </div>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <div id="botones">
                <button>Realizado</button>
                <button>Eliminar</button>
            </div>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <div id="botones">
                <button>Realizado</button>
                <button>Eliminar</button>
            </div>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <div id="botones">
                <button>Realizado</button>
                <button>Eliminar</button>
            </div>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <div id="botones">
                <button>Realizado</button>
                <button>Eliminar</button>
            </div>

        </tr>


    </table>

    <h2>hola</h2>
    <i class="fas fa-check"></i>



</div>