.container{
    width: 100%;
}

.col-sm-4{
    justify-content: space-around;
    padding-top: 50px;
    width: 30%;
    border: 1px solid black;

}

#pestanas {
    display: flex;
    padding: 50px 20px 5px 20px;
}

#pestanas a:first-child{
    border-right: 2px solid black;
    border-bottom: 2px solid white;
    margin-left: 10px;
}

#pestanas a:first-child:hover{
    background-color: rgb(143, 201, 36);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0.3s;
}

#pestanas a:last-child{
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    width: 30%;
    margin-left: 10px;
}

#pestanas a:last-child:hover{
    background-color: rgb(143, 201, 36);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0.3s;
}

#pestanas a:nth-child(2){
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    width: 30%;
    margin-left: 10px;
}

#pestanas a:nth-child(2):hover{
    background-color: rgb(143, 201, 36);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0.3s;
}


#pestanas a {
    width: 30%;
    text-decoration: none;
    color: black;
    font-size: 25px;

}

#pestanas a:hover {
    color: white;
    font-weight: bold;
}

#pestanas a:active {
    color: white;
}
