<div class="container">
    <div id="pestanas">
        <div class="col-sm-4">
            <a [routerLink]="['/admin/pedidos']">
                <p>Pedidos</p>
            </a>
        </div>

        <div class="col-sm-4">
            <a [routerLink]="['/admin/productosAdmin']">
                <p>Productos</p>
            </a>
        </div>
        <div class="col-sm-4">
            <a [routerLink]="['/admin/clientes']">
                <p>Listado de Clientes</p>
            </a>
        </div>
    </div>


</div>


<router-outlet></router-outlet>