.container{
    width: 100%;
}
#pestanas {
padding-top: 70px;
    display: flex;
    background-color: rgb(224, 247, 96);
    align-content: center;

}

#pestanas a:first-child{
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    margin-left: 10px;

}

#pestanas a:first-child:hover{
   
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0.3s;
}

#pestanas a:last-child{
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    margin-left: 10px;
}

#pestanas a:last-child:hover{
    
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0.3s;
}

#pestanas a:nth-child(2){
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    margin-left: 10px;
}

#pestanas a:nth-child(2):hover{
    background-color: rgb(143, 201, 36);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0.3s;
}


#pestanas a {
    text-decoration: none;
    color: green;
    font-size: 25px;

}

#pestanas a:hover {
    color: white;
    font-weight: bold;
}

#pestanas a:active {
    color: white;
}
