.jumbotron{
	background-color:green;
    border-radius:0;
    background-repeat:no-repeat ;
    background-size: cover;
    height: 70vh;
    text-align: center;
    color: white;
    font-family: 'kalam', 'cursive';

}

.container-info{
padding: 10px;
font-family: 'Kalam', 'cursive';
}

.container-info img{
width: 40vw;
height: 60vh;
}

.container-prod{
    padding: 5px;
    margin: 30px;
}
.container-prod h1{
    text-align: center;
}
.container-prod a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.container-prod img{
    width: 80%;
    border: green 2px solid;

}