* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


main{
background-image: url("../../../assets/images/productos.jpg");
background-size: cover;
background-repeat: no-repeat;

}

.container-fluid{
padding-top: 80px;
background: rgb(197, 243, 33);
width: 100%;
display: flex;
flex: wrap;
opacity: 93%;
}

.info-row{
    color:green;
    text-align: center;
    width: 100vw;
}
.info-row h1{
    padding-top: 30px;
    color: orange;
    text-shadow: white 1px 0px 0px;
    font-family: 'Kalam', 'cursive';
    font-size: 85px;
}

.info-row #text{
    color: orange;
    text-shadow: white 1px 0px 0px;
}

.container-info{
padding: 40px;
font-family: 'Martel', 'cursive';
background-color: rgba(255, 255, 255, 0.95);
opacity: 97%;
}

.container-info h1{
    font-family: 'Martel', 'cursive';
    color: greenyellow;
    padding: 10px;
}
.container-info h2{
color: greenyellow;

}

.container-info h4{
    font-family: 'kalam','cursive';
}

.container-info p{
    font-family: 'Kalam', cursive;
    font-size: 18px;
}


.container-info img{
width: 90%;


}

.verMas{
    width: 150px;
    color: white;
}

.verMas:hover{
    background-color: white;
    color: orangered;
    border: white
}

/*SECCION DE IMAGENES DE PRODUCTOS MAS VENDIDOS*/

* { box-sizing: border-box; }

.container-slides {
    width: 100%;
}

.carousel-cell {
  width: 20%;
  height: 235px;
  padding: 5px;
  margin-right: 2px;
  counter-increment: gallery-cell;
}
.carousel-cell img{
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.carousel-cell:hover{
    background-color: rgb(236, 253, 211);
    border: 3px solid rgb(236, 253, 211);
}

/* cell number */
 .carousel-cell:before {
  display: flex;
  text-align: center;
  line-height: 100px;
  font-size: 80px;
  color: white;
}
 
/*FIN DE CAROUSEL*/

.cont-prod{
    width: 100%;
    padding: 5px;
    margin: 30px;
}
.cont-prod h1{
    padding-top: 25px;
    text-align: center;
    align-content: center;
}
.container-prod a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.container-prod img{
    width: 60%;
    padding:5px;
    border: green 2px solid;

}


/* Aqui empieza Sobre nosotros  */
.container-sobreNosotros{
    width: 100%;
    padding-top: 30px;
    align-content: center;
    text-align: center;
    font-family: 'kalam','cursive';
}

.container-sobreNosotros img{
    padding-top: 50px;
    width: 80%;
    height: 80vh;
    border-radius: 1px solid green;
    align-content: center;
}
.btnpedido{
    color: white;
    border-radius: 5px;
}

.btnpedido:hover{
    background-color: white;
    color: green;

}

.container-sobreNosotros h2{
    font-family: 'Martel', 'cursive';
    color: greenyellow;
}
    .footer{
        height: 4rem;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(23, 168, 23);
    }

    .contacto{
    padding-top: 40px;
    }
    .contacto p{
        display: inline;
        margin: 5px;
    }

    .redesSociales{
        display: block;
      
  
    }

    .redesSociales a{
        width: 50px;
        margin: 0 auto;
        padding:40px;


    }
    .footer{
        align-content: center;
        text-decoration: none;
    }

.frutas img{
    display: block;
    width: 80%;
    height: auto;
    margin: 15px;

} 