<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ifruit Home</title>
</head>

<body>

    <main>

        <!-- Inicio de la pagina -->

        <div class="container-fluid">
            <div class="info-row col-sm-7">
                <h1><span>Ifruit</span></h1>
                <h3>Calidad y frescura sin moverte de casa</h3>
                <h3 id="text">Promociones y frutas de Temporada</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repellendus molestias architecto
                    ut rem consectetur assumenda minus maxime laboriosam laudantium minima corrupti deserunt,
                    perferendis reiciendis vero iste quis voluptas illo.</p>
                <a class="btn btn-primary btn-group-sm" href="#" role="button">Leer mas</a>
            </div>
            <div class="row col-sm-5">
                <img src="../../../assets/images/tablet-slider-item.png" class="img-fluid" alt="">
            </div>
        </div>


        <!-- informacion central de la pagina -->
        <div class="container-info">
            <div class="row">
                <div class="col-sm-4">
                    <h2><span>Bienvenidos a Ifruit</span></h2>
                    <h3>tu aliado para elegir la mejor opcion</h3>
                    <br>
                    <p>Con nosotros usted dejará su PEDIDO en buenas manos. Nuestro servicio es responsable de todas las
                        fases del proyecto, desde la recogida hasta la entrega en destino, pasando por el empaquetado y
                        un excautivo control de calidad.
                        <br>
                        Nunca perdemos de vista un pedido y sus necesidades. Somos expertos en la solución de problemas.
                    </p>
                    <a class="btn btn-primary btn-sm" href="#" role="button">Ver mas</a>
                </div>
                <div class="col-sm-4">
                    <img src="../../../assets/images/ofifruit-bol-variado.png" alt="">
                </div>
                <div class="col-sm-4">
                    <h2>Calidad 100% garantizada</h2>
                    <br>
                    <p>Para evitar problemas innecesarios y devoluciones o rechazos molestos de los productos,
                        invertimos el tiempo que sea necesario, realizando varios controles de calidad, nos movemos y
                        hacemos los kilómetros que cada caso requiera, para verificar correctamente cuando los productos
                        no salen de nuestro propio almacén. En ese caso siempre mantenemos una muestra del producto para
                        comparar a la llegada los resultados con cada cliente. La calidad está garantizada.</p>


                </div>

                <!-- productos mas vendidos -->


                <div class="container-prod fondo">
                    <h1 id="masvendidos">Nuestros Productos mas vendidos</h1>
                    <!--    <div class="underline">
                        <hr noshade="noshade">
                    </div> -->
                    <div class="row">
                        <div class="col-sm-3">
                            <a class="nav-link"><img src="../../../assets/images/sandia1.jpg" alt=""></a>
                            <a class="nav-link">
                                <h3>Sandia</h3>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="nav-link"><img src="./../../../assets/images/ciruelas-rojas-varias.jpg"
                                    alt=""></a>
                            <a href="">
                                <h3>Ciruelas Rojas</h3>
                            </a>
                        </div>

                        <div class="col-3">
                            <a class="nav-link"><img src="./../../../assets/images/LITCHIS.jpg" alt=""></a>
                            <a class="nav-link">
                                <h3>Litchi</h3>
                            </a>
                        </div>
                        <div class="col-3">
                            <a class="nav-link"><img src="../../../assets/images/fresas1.jpg" alt=""></a>
                            <a class="nav-link">
                                <h3>Fresas</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Inicio del footer -->

    <footer>
        <div class="container-sobreNosotros">
            <div class="row">
                <div class="col-sm-7">
                    <h1 class="navdirecto"><span> Conoce a Ifruit </span></h1>
                    <br>
                    <h3><span>Sobre Nosotros</span></h3>
                    <p>Ifruit se caracteriza por un objetivo común … respetar las necesidades de
                        nuestros clientes y hacerlos felices. por clientes nos referimos aquellos que valoran
                        la calidad y sobre todo el sabor de los productos españoles.
                    </p>
                    <br>
                    <p>¿Por qué?

                        Porque amamos los productos mediterráneos, conocemos la tierra y cada campo, contacto
                        directo y cercano con productores expertos que aman su trabajo. Entender una buena agricultura
                        basada en
                        combinar la experiencia y la innovación respetuosa con un único propósito … Exportamos sólo lo
                        mejor!</p>

                    <p>
                        Contáctenos y descubra nuestro equipo de profesionales siempre dispuestos a ayudarle. Para
                        nosotros, también será un placer conocerte. Visite también nuestra galería de productos.</p>


                    <div class="contacto">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <p>Calle Gran Via 13, oficina n- 2 (Madrid-Spain)</p> <br>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p>Telefono:/+34 910658986 - 687254896</p> <br>

                        <div class="redesSociales">
                            <a><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                            <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-5 frutas">
                    <img src="../../../assets/images/many-fruits-table_1398-3429.jpg" alt="">
                </div>

            </div>
        </div>


    </footer>



</body>

</html>