<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ifruit Home</title>
</head>

<body>

    <main>

        <!-- Inicio de la pagina -->

        <div class="container-fluid">
            <div class="info-row col-sm-7">
                <h1><span>Ifruit</span></h1>
                <h3>Calidad y frescura sin moverte de casa</h3>
                <h3 id="text">Promociones y frutas de Temporada</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repellendus molestias architecto
                    ut rem consectetur assumenda minus maxime laboriosam laudantium minima corrupti deserunt,
                    perferendis reiciendis vero iste quis voluptas illo.</p>
                <a class="btn btn-primary btn-group-sm" href="#" role="button">Leer mas</a>
            </div>
            <div class="row col-sm-5">
                <img src="../../../assets/images/tablet-slider-item.png" class="img-fluid" alt="">
            </div>
        </div>


        <!-- informacion central de la pagina -->
        <div class="container-info">
            <div class="row">
                <div class="col-sm-4">
                    <h2><span>Bienvenidos a Ifruit</span></h2>
                    <h3>tu aliado para elegir la mejor opcion</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non culpa, iste numquam accusantium
                        alias
                        nesciunt incidunt corporis illo necessitatibus hic? Voluptates quidem maiores porro quaerat
                        beatae
                        sapiente, officia reprehenderit amet?</p>
                    <a class="btn btn-primary btn-sm" href="#" role="button">Ver mas</a>
                </div>
                <div class="col-sm-4">
                    <img src="../../../assets/images/ofifruit-bol-variado.png" alt="">
                </div>
                <div class="col-sm-4">
                    <h2>Nuestros Servicios</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur in repudiandae harum
                        nulla
                        quisquam eos aperiam facere incidunt. Nobis dolore aliquam similique hic maiores commodi
                        aspernatur a consequuntur, dolorem in?</p>


                </div>

                <!-- productos mas vendidos -->


                <div class="container-prod fondo">
                    <h1>Nuestros Productos mas vendidos</h1>
                    <div class="underline">
                        <hr noshade="noshade">
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <a class="nav-link"><img src="../../../assets/images/sandia1.jpg" alt=""></a>
                            <a class="nav-link">
                                <h3>Sandia</h3>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a class="nav-link"><img src="./../../../assets/images/ciruelas-rojas-varias.jpg"
                                    alt=""></a>
                            <a href="">
                                <h3>Ciruelas Rojas</h3>
                            </a>
                        </div>

                        <div class="col-3">
                            <a class="nav-link"><img src="./../../../assets/images/ciruelas-rojas-varias.jpg"
                                    alt=""></a>
                            <a class="nav-link">
                                <h3>Naranja</h3>
                            </a>
                        </div>
                        <div class="col-3">
                            <a class="nav-link"><img src="../../../assets/images/ciruelas-rojas-varias.jpg" alt=""></a>
                            <a class="nav-link">
                                <h3>Naranja</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Inicio del footer -->

    <footer>
        <div class="container-footer">
            <div class="row">
                <div class="col-sm-4">
                    <h3><span>Sobre Nosotros</span></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere rerum itaque aliquam veritatis
                        dicta
                        quod amet consectetur dignissimos sint illo incidunt, laboriosam labore, ex tempore cumque. Vel
                        sed
                        voluptate nulla.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere rerum itaque aliquam veritatis
                        dicta
                        quod amet consectetur dignissimos sint illo incidunt, laboriosam labore, ex tempore cumque. Vel
                        sed
                        voluptate nulla.</p>
                </div>

                <div class="col-3">
                    <img src="../assets/images/frutas.jpg" alt="">
                </div>
                <!--  <div class="contacto col-sm-4">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <p>Calle Gran Via 13, oficina n- 2 (Madrid-Spain)</p> <br>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p>Telefono:/+34 910658986 - 687254896</p> <br>
                    <p>Copyright © 2020 - <a href="">Aviso Legal</a> - <a href="">cookies</a> </p>
                    <div class="redesSociales">
                        <a><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </div>
                </div> -->
            </div>
        </div>


    </footer>



</body>

</html>