<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ifruit Home</title>
</head>

<body>

    <main>
        <div class="wrapper">
            <div class="carrusel">
                <a href="#slide1"><img src="/src/images/Fresas_unsplash.jpg"></a>
                <a href="#slide2"><img src="/src/images/naranjas_unsplash.jpg"></a>

                <div class="slide">
                    <ul>
                        <li id="slide1">fresas</li>
                        <li id="slide2">naranjas</li>
                    </ul>
                </div>
            </div>








        </div>
    </main>





</body>

</html>