@import url(https://fontawesome.com/v4.7.0/icons/
);

/* Menu de navegacion */

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    width: 100%;
    min-height: 100%;
}

.barranavegacion {
    height: 60px;
    width: 100vw;
}

.logo {
    margin-left: 15px;
    display: flex;
   align-items: center;

    padding: 5px;
}

.logo h2 {
   font-family: "Kalam", "cursive" ;
   font-size: 40px;
        padding: 10px 0px 3px 0px;
        color: rgb(206, 134, 2);
        text-shadow:white 2px 0px 0px;
        
}

.menu {
    display: flex;
    width: 100%;

}

.menu li{
    width: 100%;
}

.menu li a {
    color:  black;
    text-shadow:rgb(175, 80, 25);
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}
.bg-dark{
    background-color: rgb(247, 246, 245) !important;
}

.container a{
    color: white;
}
a.nav-link{
    color: white;
}
nav img{
    width: 10%;
}
.collapse navbar-collapse{
    color: black;
}

/*Footer*/

.container-footer{
    clear: both;
    position: relative;
    text-align: center;
    padding: 15px;
    background-color: rgb(197, 243, 33);
    
}

.footer div:nth-child(2){
    display: flex;
}

.footer i {
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    
}
.redesSociales{
     display: flex;

}

.redesSociales a{
    margin: 0 auto;
    padding: 3px 20px 0px 20px;
}

.fa-sign-out{
    margin: 5px 10px;
    cursor: pointer;
}

