<!-- Inicio del header, Menu de Navegacion -->

<header class="container-fluid bg-dark fixed-top">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="../assets/fruit.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Registrate</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

</header>



<router-outlet></router-outlet>

<!-- Inicio del footer -->

<footer>
    <div class="container-footer">
        <div class="row">
            <div class="col-sm-4">
                <h3><span>Sobre Nosotros</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere rerum itaque aliquam veritatis dicta
                    quod amet consectetur dignissimos sint illo incidunt, laboriosam labore, ex tempore cumque. Vel sed
                    voluptate nulla.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere rerum itaque aliquam veritatis dicta
                    quod amet consectetur dignissimos sint illo incidunt, laboriosam labore, ex tempore cumque. Vel sed
                    voluptate nulla.</p>
            </div>

            <div class="col-3">
                <img src="../assets/images/frutas.jpg" alt="">
            </div>
            <div class="col-sm-4">
                <p>Calle Gran Via 13, oficina n- 2 (Madrid-Spain)</p>
                <p>Telefono:/+34 910658986 - 687254896</p>
                <p>Copyright © 2020 - <a href="">Aviso Legal</a> - <a href="">cookies</a> </p>
                <div class="redesSociales">
                    <a><i class="fab fa-instagram"></i></a>
                    <a><i class="fab fa-facebook"></i></a>
                    <a><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>


</footer>