@import url(https://fontawesome.com/v4.7.0/icons/
);

/* Menu de navegacion */

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.body{
    width: 100%;
    min-height: 100%;
}

.barranavegacion {
    height: 60px;
  width: 100vw;
 }

.logo {
    margin-left: 40px;
    display: flex;
   align-items: center;
   width: 350px;
    padding: 5px;
}

.logo h2 {
   font-family: "Kalam", "cursive" ;
   font-size: 35px;
        padding: 10px 0px 3px 0px;
        color: rgb(206, 134, 2);
        text-shadow:white 2px 0px 0px;
        
}

.menu {
    display: flex;

}

.menu li{
    width: 120px;
    margin: 5px 30px 0 20px;
 
}

.menu li a {
    color:black;
    text-shadow: white 1px 0px 0px;
    font-size: 20px;
    background-color:white;
    text-align: center;
    border-radius: 10px;
    border: white 2px solid;
    width: 100%;
}

.menu li a:hover{
    background-color: orange;
    border-radius: 10p;
    border: white 2px solid;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    color: white;
}

#cart img{
    width: 40px;
}

.menu a i {
    color:black;
    padding-top: 5px;
    padding-right: 10px;
}

.bg-dark{
    background-color: rgb(197, 243, 33) !important;
}

.container a{
    color: white;
}
a.nav-link{
    color: white;
}
nav img{
    width: 10%;
}
.collapse navbar-collapse{
    color:orange;
}

/*Footer*/

.container-footer{
    clear: both;
    position: relative;
    text-align: center;
    padding: 15px;
    background-color: rgb(197, 243, 33);
    
}

.footer div:nth-child(2){
    display: flex;
}

.footer i {
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    
}
.redesSociales{
     display: flex;

}

.redesSociales a{
    margin: 0 auto;
    padding: 3px 20px 0px 20px;
}

.fa-sign-out{
    margin: 5px 10px;
    cursor: pointer;
}

