@import url(https://fontawesome.com/v4.7.0/icons/
);

/* Menu de navegacion */

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-dark{
    background-color: rgb(197, 243, 33) !important;
}

.container a{
    color: white;
}
a.nav-link{
    color: white;
}
nav img{
    width: 10%;
}
.collapse navbar-collapse{
    color: black;
}

footer{
    width: 100vw;
    background-color: rgb(23, 168, 23);
    align-content: center;
    text-decoration: none;
}

.contacto{

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.contacto p{
   
    width: 400px;
    margin: 5px;
}

.footer {
    display: flex;
    flex-wrap: nowrap;
}

.footer div:first-child{
    display: flex;
}

.footer div:last-child{
    display: flex;
}

.footer div:nth-child(2){
    display: flex;
}

.footer i {
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    
}
.redesSociales{
     display: flex;

}

.redesSociales a{
    margin: 0 auto;
    padding: 3px 20px 0px 20px;
}

.fa-sign-out{
    margin: 5px 10px;
    cursor: pointer;
}
