<main>
    <div class="container">
        <div class="carteles">
            <h2>Productos</h2>
        </div>

        <div class="filtros">
            <select name="" id="">
                <option value="">Colores</option>
                <option value="">Rojas</option>
                <option value="">Amarillas</option>
                <option value="">Naranjas</option>
                <option value="">Otros</option>
            </select>
            <select name="" id="">
                <option value="">Estaciones</option>
                <option value="">Primavera</option>
                <option value="">Verano</option>
                <option value="">Otoño</option>
                <option value="">Invierno</option>
            </select>
            <select name="" id="">
                <option value="">Ofertas</option>
                <option value="">De temporada</option>
                <option value="">Ofertas especiales</option>
            </select>
        </div>
        <div class="productos">
            <div class="prod" *ngFor="let producto of productos">
                <img (src)="producto.imagen" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <h3>{{producto.nombre}}</h3>
                <div>
                    <p id="precio">{{producto.precio}}</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <!--  <div class="prod">
                <img src="../../../assets/images/sandia-5.jpg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/sandia-5.jpg" alt="">
                <h3>SANDIA</h3>
                <div>
                    <p id="precio">5.75€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="../../../assets/images/framboise.jpg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/framboise.jpg" alt="">
                <h3>FRAMBUESAS</h3>
                <div>
                    <p id="precio">6.00€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="../../../assets/images/granada-300x300.jpg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/granada-300x300.jpg" alt="">
                <h3>GRANADAS</h3>
                <div>
                    <p id="precio">6.75€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="../../../assets/images/manzana-roja-importada.jpeg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/manzana-roja-importada.jpeg" alt="">
                <h3>MANZANAS</h3>
                <div>
                    <p id="precio">3.15€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="../../../assets/images/61yd5yJRo4L._AC_SX522_.jpg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/61yd5yJRo4L._AC_SX522_.jpg" alt="">
                <h3>CEREZAS</h3>
                <div>
                    <p id="precio">4.50€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="../../../assets/images/LITCHIS.jpg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/LITCHIS.jpg" alt="">
                <h3>LITCHI</h3>
                <div>
                    <p id="precio">6.75€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="../../../assets/images/ciruelas-rojas-varias.jpg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/ciruelas-rojas-varias.jpg" alt="">
                <h3>CIRUELAS</h3>
                <div>
                    <p id="precio">2.25€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div> -->

        </div>

    </div>
</main>