* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
 img {
     display: block;
     width: 100%;
     height: auto;
     border-radius: 50%;

 }
.contenedor {
    background-image: url("./../../../assets/productos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 99vw;
}

.carteles {
    width: 99vw;
    height: 100px;
    margin-top: 75px;
    background-color: rgba(153, 205, 50, 0.753);

}

.carteles h2 {
    font-family: 'Kalam', 'cursive';
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}

.filtros {
    width: 99vw;
      display: flex;
      justify-content: space-around;
      background-color: rgba(153, 205, 50, 0.753);
}

.filtros select {
    width: 30%;
    height: 30px;
    margin-bottom: 10px;
    font-family: 'Kalam','cursive';
    font-size: 20px;
}

.filtros select:hover {
    background-color: rgba(153, 205, 50, 0.205);
    font-weight: bold;
    transition: 0.5s;
}

select option{
    background-color: rgba(153, 205, 50, 0.205);
}

.productos {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.950);
    width: 99vw;
    padding: 20px;
}

.prod {
    width: 22%;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 10px;
}

.prod:hover {
    border: 1px solid black;
}

.prod h3 {
    font-family: 'Martel', 'cursive';
    text-align: center;
    margin: 10px auto;
}

.prod p {
    margin: 10px auto;
    text-align: center;
    width: 30%;
    font-family: 'Martel', 'cursive';
    border: 1px solid black;
    border-radius: 10px;
}

.prod p:hover{
    background-color: rgba(153, 205, 50, 0.205);
    transition: 0.3s;
    cursor: pointer;
}

