* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

main {
    background-image: url("../../../assets/images/productos.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

 img {
     display: block;
     width: 100%;
     height: auto;
     border-radius: 50%;
 }

.carteles {
    width: 100vw;
    height: 100px;
    margin-top: 50px;
    background-color: rgba(153, 205, 50, 0.753);

}

.carteles h2 {
    font-family: 'Kalam', 'cursive';
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}

.filtros {
    width: 100vw;
      display: flex;
      justify-content: space-around;
      background-color: rgba(153, 205, 50, 0.753);
}

.filtros select {
    width: 30%;
    height: 30px;
    margin-bottom: 10px;
    font-family: 'Kalam','cursive';
    font-size: 20px;
}

.filtros select:hover {
    background-color: rgba(153, 205, 50, 0.205);
    font-weight: bold;
    transition: 0.5s;
}

select option{
    background-color: rgba(153, 205, 50, 0.205);
}

.productos {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.950);
    width: 100vw;
    padding: 20px;
}

.prod {
    width: 12%;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 10px;
    position: relative;
}

.prod img{
    border: 2px solid rgba(153, 205, 50);
}


.prod h3 {
    font-family: 'Martel', 'cursive';
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    text-transform: uppercase;
}

#precio {
    margin: 10px auto;
    text-align: center;
    width: 35%;
    font-family: 'Martel', 'cursive';
    font-size: 20px;
    color: black;
    text-shadow: rgb(153, 205, 50) 2px 0px 0px;
}

.carrito{
    width: 40px;
    position: absolute;
    left: 130px;
    bottom: 45px ;
    color: green;
}

button {
     display: block;
    margin: 10px auto;
    height: 40px;
    width: 60%;
    font-size: 17px;
}

.texto {
    width:80%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Martel', 'cursive';
}

.texto p {
    width: 80%;
    margin: 0 auto;
}
.texto h3 {
margin-bottom: 15px;
}
