<main>

    <div class="carteles">
        <h2>Productos</h2>
    </div>

    <div class="filtros">
        <select (change)="onEst($event)">
            <option value="estaciones">Estaciones</option>
            <option value="primavera-verano">Primavera - Verano</option>
            <option value="otoño-invierno">Otoño - Invierno</option>
            <option value="tropical">Tropicales</option>
            <option value="todo el año">Todo el año</option>


        </select>
        <select (change)="onOferta($event)">
            <option value="todas">Ofertas</option>
            <option value="otoño-invierno">De temporada</option>
            <option value="ofertas">Ofertas especiales</option>
        </select>
    </div>

    <div class="productos">



        <div class="prod" *ngFor="let producto of productos">
            <div *ngIf="ofertas" class="star">
                <img src="../../../assets/images/oferta.gif" alt="">
            </div>
            <img [src]="producto?.imagen">

            <h3>{{producto?.nombre}}</h3>
            <div>
                <p id="precio">{{producto.precio}} €/Kg</p>
                <button class="btn btn-outline-success" [routerLink]="['/productos',producto.id_prod]">Comprar</button>

            </div>
        </div>
        <div class="texto" *ngIf="texto">
            <h3>Desde iFruit, recomendamos el consumo de frutas de temporada por los diversos beneficios que
                obtendremos
                tanto para nuestro bolsillo como para el medio ambiente.</h3>
            <p>* Se contribuye a la sostenibilidad del sistema alimentario porque reduce el consumo energético y
                genera
                menos emisiones de dióxido de carbono, ya que no es necesario transportarla desde otras zonas de
                cultivo
                más alejadas.</p>
            <p>* Ayuda a respetar el ciclo natural de producción siendo más ecológico y respetuoso con el medio
                ambiente.
            </p>
            <p>* También tendrá un mejor sabor porque no sido cultivada en un invernadero, donde las frutas pierden
                parte
                de su sabor.</p>
            <p>* Al comprar fruta de temporada procedente de tu área estás colaborando con el comercio local y por
                lo
                tanto generando riqueza en tu entorno más próximo.</p>
            <p>* Todos estos motivos repercuten en que la fruta de temporada tenga un precio más atractivo, por lo
                que
                además de cuidar del medio ambiente también estarás cuidando de tu bolsillo</p>
        </div>

        <div class="ofertas" *ngIf="ofertas">
            <h3>Por la compra de más de 2Kg en esta selección de frutas le regalamos 1Kg adicional de la fruta que
                desees.</h3>
            <div class="star">
                <img src="../../../assets/images/oferta.gif" alt="">
            </div>
        </div>

        <!--  <div class="prod">
                <img src="../../../assets/images/sandia-5.jpg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/sandia-5.jpg" alt="">
                <h3>SANDIA</h3>
                <div>
                    <p id="precio">5.75€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="../../../assets/images/framboise.jpg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/framboise.jpg" alt="">
                <h3>FRAMBUESAS</h3>
                <div>
                    <p id="precio">6.00€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="../../../assets/images/granada-300x300.jpg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/granada-300x300.jpg" alt="">
                <h3>GRANADAS</h3>
                <div>
                    <p id="precio">6.75€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="../../../assets/images/manzana-roja-importada.jpeg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/manzana-roja-importada.jpeg" alt="">
                <h3>MANZANAS</h3>
                <div>
                    <p id="precio">3.15€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="../../../assets/images/61yd5yJRo4L._AC_SX522_.jpg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/61yd5yJRo4L._AC_SX522_.jpg" alt="">
                <h3>CEREZAS</h3>
                <div>
                    <p id="precio">4.50€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="../../../assets/images/LITCHIS.jpg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/LITCHIS.jpg" alt="">
                <h3>LITCHI</h3>
                <div>
                    <p id="precio">6.75€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="../../../assets/images/ciruelas-rojas-varias.jpg" alt="">
                <div class="star">
                    <img [ngStyle]="fondo" (click)="onFavorite()" src="../../../assets/startrans.png" alt="">
                </div>
                <img src="./../../../assets/ciruelas-rojas-varias.jpg" alt="">
                <h3>CIRUELAS</h3>
                <div>
                    <p id="precio">2.25€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div> -->

    </div>


</main>