body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    background-image: url("../../../assets/images/carrito.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}

.titulo {
    width: 100%;
}
.row{
    width: 60%;
    padding: 10px;

}

.col-sm-4{
width: 50%;
text-align: center;
align-content: center;
margin-bottom: 10px;

}

.total{
width: 50px;
color: black;
text-shadow: rgb(153, 205, 50) 2px 0px 0px;
}

.row img{
    width: 50%;
    border-radius: 50%;
    border: 2px solid rgba(153, 205, 50);
    margin-bottom: 5px;

}

.container h3{
    padding-top: 75px;
    align-content: center;
    font-family: 'Kalam', 'cursive';
    color: green;
}

.container h5{
    font-family: 'Kamel', 'Martel';
    color: black;
    text-shadow: rgb(153, 205, 50) 2px 0px 0px;
}

#btn-agregar-eliminar{
padding-top: 10px;
width: 5px;
margin: 0 auto;
}

.boton{
    display: block;
    margin: 20px auto;
    width: 130px;
}

.btn-tramitar{
    border: 2px solid rgba(153, 205, 50);
    padding: 15px;
    width: 15%;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.85);
}

.btn-tramitar h5{
    width: 100%;
    text-align: center;
    display: block;
    color: black;
    text-shadow: rgb(153, 205, 50) 2px 0px 0px;
}

.pedidoOK {
display: block;
position: absolute;
font-family: 'Kalam', 'cursive';
top: 100px;
left:650px;
width: 300px;  
height: 300px;
border: 2px solid  rgba(153, 205, 50); 
box-shadow: 0 0 500px yellowgreen;
border-radius: 15px;
background-color: rgba(255, 255, 255, 0.945);
}
    
.pedidoOK h3, p {
text-align: center;
font-family: 'Martel', 'cursive';
color: black;
text-shadow: rgb(153, 205, 50) 2px 0px 0px;
 }
