<div class="container">




    <div class="titulo">

        <div class="vacio" *ngIf="vacio">
            <h3 id="primerh3">¡Su carrito está vacío!</h3>
            <h3>Puede ver nuestros productos en nuestra página de
                <a [routerLink]="['/productos']">Productos</a></h3>

            <h3>O puede elegir algunos de nuestros recomendados de hoy...</h3>
            <div id="imagenes">

                <div>
                    <img [routerLink]="['/productos/2']" src="./../../../assets/images/fresas1.jpg" alt="">
                </div>
                <div>
                    <img [routerLink]="['/productos/18']" src="./../../../assets/images/lima.jpg" alt="">
                </div>
                <div>
                    <img [routerLink]="['/productos/7']" src="./../../../assets/images/melon1.jpeg" alt="">
                </div>
                <div>
                    <img [routerLink]="['/productos/13']" src="./../../../assets/images/platanos.jpg" alt="">
                </div>
                <div>
                    <img [routerLink]="['/productos/33']" src="./../../../assets/images/coco.jpg" alt="">
                </div>
                <div>
                    <img [routerLink]="['/productos/23']" src="./../../../assets/images/aguacate.jpg" alt="">
                </div>
            </div>

        </div>

    </div>

    <div *ngIf="!vacio" class="row">
        <h3 id="primerh3">Este es su carrito de Frutas:</h3>

        <div class="col-sm-4 prod" *ngFor="let producto of arrCarrito">

            <img [src]=" producto?.imagen" alt="">
            <h5>Cantidad: {{producto?.cantidad | number: '1.2'}} Kg
                <input type="number" (input)="onChange($event, producto)" min="0.25" [max]="this.disponibilidad"
                    step="0.25">
            </h5>
            <h5>€/Kg: {{producto?.precio}}</h5>
            <h5 id="precio"> Precio: {{producto?.precio * producto?.cantidad | number: '1.1-2'}} €</h5>
            <div id="btn-agregar-eliminar botones">
                <a [routerLink]="['/carrito']"> <button type="button" class="btn btn-outline-success"
                        (click)="onEliminar(producto.id_producto)">Eliminar</button>
                </a>


            </div>

        </div>
        <!-- <div class="col-sm-4">
            <a href=""> <img src="../../../assets/images/manzana1.jpeg" alt=""> </a>
            <h5>Cantidad(unid): 5 manzanas</h5>
            <h5>Precio kg</h5>
            <button type="button" class="btn btn-outline-success">+</button>
            <button type="button" class="btn btn-outline-success">-</button>
            <div id="btn-agregar-eliminar">
                <button type="button" class="btn btn-outline-success">Agregar</button>
                <button type="button" class="btn btn-outline-success">Eliminar</button>
            </div>
        </div>
        <div class="col-sm-4">
            <a href=""> <img src="../../../assets/images/manzana1.jpeg" alt=""> </a>
            <h5>Cantidad(unid): 5 manzanas</h5>
            <h5>Precio kg</h5>
            <button type="button" class="btn btn-outline-success">+</button>
            <button type="button" class="btn btn-outline-success">-</button>
            <div id="btn-agregar-eliminar">
                <button type="button" class="btn btn-outline-success">Agregar</button>
                <button type="button" class="btn btn-outline-success">Eliminar</button>

            </div>
        </div> -->

    </div>


    <div class="btn-tramitar">
        <h5 class="total">Total a pagar: <span>{{precioTotal | number: '1.1-2'}}€</span></h5>
        <button type="submit" class="btn btn-primary btn-sm-4 btn-block" (click)="onEnviar()">Tramitar Pedido</button>
        <button [routerLink]="['/productos']" class="btn btn-outline-success boton">Seguir Comprando</button>

    </div>

    <div class="pedidoOK" *ngIf="pedidoOK">
        <h3>Enhorabuena, ha realizado su pedido con éxito</h3>
        <p><span>Su pedido será servido en un máximo de 24 horas</span></p>
        <p>redirigiendo...</p>
    </div>


</div>