<div class="container">

    <div class="img2"><img src="../../../assets/images/shopping-cart-filled-with-fruit-and-vegetables.jpg" alt="">
        <a href="../productos"><button type="link" class="btn btn-secondary btn-sm-3">
                Seguir Comprando</button></a>
    </div>
    <h3>Este es su carrito de Frutas:</h3>
    <div class="row">

        <div class="col-sm-4" *ngFor="let producto of arrCarrito">
            <img [src]=" producto?.imagen" alt="">
            <h5>Cantidad:{{producto?.cantidad}}
                <input type="range" (input)="onChange($event, producto)" min="1" max="10" step="0.25"
                    [value]="producto.cantidad">
            </h5>
            <h5 id="precio"> Precio: {{producto?.precio * producto?.cantidad}}</h5>
            <div id="btn-agregar-eliminar">
                <button type="button" class="btn btn-outline-success"
                    (click)="onEliminar(producto.id_producto)">Eliminar</button>

            </div>
        </div>
        <!-- <div class="col-sm-4">
            <a href=""> <img src="../../../assets/images/manzana1.jpeg" alt=""> </a>
            <h5>Cantidad(unid): 5 manzanas</h5>
            <h5>Precio kg</h5>
            <button type="button" class="btn btn-outline-success">+</button>
            <button type="button" class="btn btn-outline-success">-</button>
            <div id="btn-agregar-eliminar">
                <button type="button" class="btn btn-outline-success">Agregar</button>
                <button type="button" class="btn btn-outline-success">Eliminar</button>
            </div>
        </div>
        <div class="col-sm-4">
            <a href=""> <img src="../../../assets/images/manzana1.jpeg" alt=""> </a>
            <h5>Cantidad(unid): 5 manzanas</h5>
            <h5>Precio kg</h5>
            <button type="button" class="btn btn-outline-success">+</button>
            <button type="button" class="btn btn-outline-success">-</button>
            <div id="btn-agregar-eliminar">
                <button type="button" class="btn btn-outline-success">Agregar</button>
                <button type="button" class="btn btn-outline-success">Eliminar</button>

            </div>
        </div> -->
        <div class="irProductos">

        </div>
    </div>
    <div class="btn-tramitar">
        <h5 class="total">Total a pagar<input type="text">{{precioTotal}}</h5>
        <button type="submit" class="btn btn-primary btn-sm-4 btn-block" (click)="onEnviar()">Tramitar Pedido</button>
    </div>
</div>