
.container{
    width: 100%;
    padding: 20px;
}

.row{
margin-top: 70px;
    width: 50%;
    padding: 10px;
    position: relative;
    left: 100px;
    
}

.col-sm-4{
width: 50%;
align-content: center;
}

.row img{
    width: 40%;
}

.container h1{
    text-align: center;
    align-content: center;
    font-family: 'Kalam', 'cursive';
    color: orange;
}

.container h5{
    font-family: 'Kamel', 'Martel';
}

#btn-agregar-eliminar{
padding-top: 20px;
   width: 30%;
}

.btn-secondary{
    margin-top: 10px;
    width: 200px;
}

.btn-tramitar{
    padding-top: 5px;
    width: 50%;
    position: relative;
    left: 50px;
}
