<div class="container">
    <h2>Bienvenido a iFruit</h2>
    <main>
        <section>
            <h3>Login</h3>
            <form action="">
                <div>
                    <label for="">Usuario</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Contraseña</label>
                    <input type="password">
                </div>
                <p>Olvidé mi <a href="">contraseña</a></p>
                <input class="boton" type="submit" value="Entrar">
            </form>
            <div id="imagenes">
                <div>
                    <img src="./../../../assets/images/fresas.jpg" alt="">
                </div>
                <div>
                    <img src="./../../../assets/images/granada-300x300.jpg" alt="">
                </div>
                <div>
                    <img src="./../../../assets/images/sandia-5.jpg" alt="">
                </div>
            </div>

        </section>
        <div id="linea"></div>
        <section>
            <h3>¿Aún no está registrado?</h3>
            <h4>Regístrese y disfrute de la mejor fruta de temporada</h4>
            <form action="">
                <div>
                    <label for="">Nombre de usuario</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Contraseña</label>
                    <input type="password">
                </div>
                <div>
                    <label for="">Repite contraseña</label>
                    <input type="password">
                </div>
                <div>
                    <label for="">Nombre</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Apellidos</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Dirección</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Teléfono</label>
                    <input type="phone">
                </div>
                <div>
                    <label for="">eMail</label>
                    <input type="email">
                </div>
                <input type="checkbox"> Acepto política de privacidad
                <br>
                <input class="boton" type="submit" value="Registrarme">

            </form>
        </section>
    </main>


</div>