<div class="contenedor">

    <div class="container">
        <h2>Bienvenido a iFruit</h2>
        <main>
            <section>
                <h3>Login</h3>
                <form [formGroup]="login" (ngSubmit)="onLogin()">
                    <div>
                        <label for="">eMail</label>
                        <input type="email" formControlName="email">
                    </div>
                    <div>
                        <label for="">Contraseña</label>
                        <input type="password" formControlName="password">
                    </div>
                    <p>Olvidé mi <a href="">contraseña</a></p>
                    <input class="boton" type="submit" value="Entrar">
                </form>
                <div id="imagenes">
                    <div>
                        <img src="./../../../assets/images/fresas1.jpg" alt="">
                    </div>
                    <div>
                        <img src="./../../../assets/images/granada1.jpg" alt="">
                    </div>
                    <div>
                        <img src="./../../../assets/images/sandia1.jpg" alt="">
                    </div>
                </div>
            </section>
            <div class="registrado" *ngIf="logeado">
                <div>
                    <img src="./../../../assets/images/login.gif" alt="">
                </div>
                <h3 class="animate__animated animate__tada animate__infinite	infinite">LOGEANDO...</h3>
            </div>

            <div class="error" *ngIf="error">
                <br>
                <h3>Algo salío mal...</h3>
                <h4>eMail o contraseña incorrectos</h4>


            </div>

            <div id="linea"></div>
            <section>

                <h3>¿Aún no está registrado?</h3>
                <h4>Regístrese y disfrute de la mejor fruta de temporada</h4>
                <form [formGroup]="registro" (ngSubmit)="onRegistro()">
                    <div>
                        <label>Nombre</label>
                        <input type="text" formControlName="nombre">
                    </div>
                    <div>
                        <label>Apellidos</label>
                        <input type="text" formControlName="apellidos">
                    </div>
                    <label>Contraseña</label>
                    <input type="password" formControlName="password">
                    <!--  <div>
                        <label for="">Repite contraseña</label>
                        <input type="password">
                    </div> -->
                    <div>
                        <label>Dirección</label>
                        <input type="text" formControlName="direccion">
                    </div>
                    <div>
                        <label>Teléfono</label>
                        <input type="text" formControlName="telefono">
                    </div>
                    <div>
                        <label>eMail</label>
                        <input type="email" formControlName="email">
                    </div>
                    <input type="checkbox"> Acepto política de privacidad
                    <br>
                    <input class="boton" type="submit" value="Registrarme">

                </form>
            </section>

            <div class="registrado" *ngIf="registrado">
                <div>
                    <img src="./../../../assets/images/registro.gif" alt="">
                </div>
                <h3 class="animate__animated animate__tada animate__infinite	infinite">REGISTRANDO...</h3>
            </div>
        </main>


    </div>
</div>