* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.contenedor{
    background-image: url("../../../assets/images/productos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

#imagenes {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  
}

img {
    display: block;
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    border:2px solid rgba(153, 205, 50);
}

.container h2 {
    margin-top:50px;
    width: 100vw;
    height: 110px;
    background-color: rgba(153, 205, 50, 0.753);
    padding-top: 25px;
    text-align: center;
    font-family: 'Kalam', 'cursive';
    font-size: 40px;
}

main {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.950);
    position: relative;
}

#linea {
    border: 2px solid  rgba(153, 205, 50);
    background-color: rgba(153, 205, 50);
}

main section {
    width: 45%;
}

main section h3, h4 {
    margin: 15px;
    text-align: center;
    font-family: 'Martel', 'cursive';
}

main section form {
    margin-top: 15px;
    text-align: center;
}

label{
    width: 150px;
    text-align: left;
    padding: 5px 0px;
}

.boton {
    width: 50%;
    margin: 10px;
}

p {
    width: 73.5%;
    text-align: right;
    font-size:x-small;
}

.registrado {
    display: block;
    position: absolute;
    top: 100px;
    width: 300px;    
}

.registrado img {
    width: 500px;
    position: absolute;
    left: -103px;
    box-shadow: 0 0 500px yellowgreen;
}

.registrado h3 {
    position: absolute;
    top: 250px;
    left: 55px;
}

.error {
    display: block;
    position: absolute;
    top: 100px;
    left: 250px;
    width: 300px;  
    height: 300px;
    border: 2px solid  rgba(153, 205, 50);
    box-shadow: 0 0 500px yellowgreen;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.945);
}

.error h3, p {
    color: yellowgreen;
    text-align: center;
    
}

.mensajeRegistro {
    background-image: url("../../../assets/images/productos.jpg");
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 51vh;
    transition: 0.5s;

   
}

.mensajeRegistro h2 {
    width: 50vw;
    background-color: rgba(153, 205, 50, 0.705);
   transition: 0.5s;
    text-align: center;
    font-family: 'Kalam', 'cursive';
    font-size: 40px;
}

.login {
    display: block;
    position: absolute;
    top: 100px;
    width: 300px;    
}

.login img {
    width: 500px;
    position: absolute;
left: -500px;
    box-shadow: 0 0 500px yellowgreen;
}

.login h3 {
    position: absolute;
    top: 250px;
    left: -330px;
}