<div class="contenedor">
    <main>
        <section>
            <h4>Nombre</h4>
            <h4>Apellidos</h4>
            <h4>Dirección</h4>
            <h4>Teléfono</h4>
            <h4>eMail</h4>
        </section>
        <section *ngIf="datos">
            <h4>{{cliente?.nombre}}</h4>
            <h4>{{cliente?.apellidos}}</h4>
            <h4>{{cliente?.direccion}}</h4>
            <h4>{{cliente?.telefono}}</h4>
            <h4>{{cliente?.email}}</h4>
        </section>

        <section *ngIf="editar">
            <form [formGroup]="edicion" (ngSubmit)="onEdicion()">
                <div>
                    <input type="text" [(placeholder)]="cliente.nombre" formControlName="nombre">
                </div>
                <div>
                    <input type="text" [(placeholder)]="cliente.apellidos" formControlName="apellidos">
                </div>
                <div>
                    <input type="text" [(placeholder)]="cliente.direccion" formControlName="direccion">
                </div>
                <div>
                    <input type="phone" [(placeholder)]="cliente.telefono" formControlName="telefono">
                </div>
                <div>
                    <input type="email" [(placeholder)]="cliente.email" formControlName="email">
                </div>
                <div>
                    <input type="hidden" [(placeholder)]="cliente.id_cliente" formControlName="id_cliente"
                        [value]="cliente.id_cliente">
                </div>
                <br>
                <input type="submit" class="btn btn-outline-success botonFormulario" value="Guardar">
            </form>
            <button class="btn btn-outline-success botonFormulario" (click)="onVolver()">Volver</button>
        </section>

        <button class="btn btn-outline-success boton" *ngIf="boton" (click)="onEditarPerfil()">Editar perfil</button>




    </main>

</div>