<div class="contenedor">
    <main>
        <section>
            <h4>Nombre</h4>
            <h4>Apellidos</h4>
            <h4>Contraseña</h4>
            <h4>Dirección</h4>
            <h4>Teléfono</h4>
            <h4>eMail</h4>
        </section>
        <section *ngIf="datos">
            <h4>{{cliente.nombre}}</h4>
            <h4>{{cliente.apellidos}}</h4>
            <h4>{{cliente.password}}</h4>
            <h4>{{cliente.direccion}}</h4>
            <h4>{{cliente.telefono}}</h4>
            <h4>{{cliente.email}}</h4>
        </section>

        <section *ngIf="editar">
            <form action="">
                <div>
                    <input type="text" [(placeholder)]="cliente.nombre">
                </div>
                <div>
                    <input type="text" [(placeholder)]="cliente.apellidos">
                </div>
                <div>
                    <input type="password" [(placeholder)]="cliente.password">
                </div>

                <div>
                    <input type="text" [(placeholder)]="cliente.direccion">
                </div>
                <div>
                    <input type="phone" [(placeholder)]="cliente.telefono">
                </div>
                <div>
                    <input type="email" [(placeholder)]="cliente.email">
                </div>
                <br>
                <button class="boton">Guardar cambios</button>


            </form>
        </section>

        <button class="boton" *ngIf="boton" (click)="onEditarPerfil()">Editar perfil</button>




    </main>

</div>