<div class="contenedor">

    <main>
        <h2>Mis productos Favoritos</h2>

        <div class="productos">
            <div class="prod">
                <img src="./../../../assets/fresas.jpg" alt="">
                <h3>FRESAS</h3>
                <p>Leer más</p>
            </div>
            <div class="prod">
                <img src="./../../../assets/sandia-5.jpg" alt="">
                <h3>SANDIA</h3>
                <p>Leer más</p>
            </div>
            <div class="prod">
                <img src="./../../../assets/framboise.jpg" alt="">
                <h3>FRAMBUESAS</h3>
                <p>Leer más</p>
            </div>
        </div>

    </main>
</div>