<div class="contenedor">

    <main>

        <h2>Mis productos Favoritos</h2>


        <div class="productos">
            <div class="prod">
                <img src="" alt="">
                <h3>FRESAS</h3>
                <div>
                    <p id="precio">5.25€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="" alt="">
                <h3>SANDIA</h3>
                <div>
                    <p id="precio">5.75€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="" alt="">
                <h3>FRAMBUESAS</h3>
                <div>
                    <p id="precio">6.00€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
            <div class="prod">
                <img src="" alt="">
                <h3>GRANADAS</h3>
                <div>
                    <p id="precio">6.75€</p>
                    <p id="comprar">Comprar</p>
                </div>
            </div>
        </div>

    </main>
</div>