/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Martel:wght@600&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import '~ngx-bar-rating/themes/br-default-theme';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

